<div class="col-md-3">
  <ul class="list-group">
    <div class="list-group-item list-group-item-action">
      <%= link_to '房源信息', listing_room_path %>
      <span class="pull-right color-info"><i class="fa fa-check"></i></span>
    </div>
    <div class="list-group-item list-group-item-action">
      <%= link_to '价格', pricing_room_path %>
      <% if !@room.price.blank? %>
        <span class="pull-right color-info"><i class="fa fa-check"></i></span>
      <% end %>
    </div>
    <div class="list-group-item list-group-item-action">
      <%= link_to '描述', description_room_path %>
      <% if !@room.listing_name.blank? %>
        <span class="pull-right color-info"><i class="fa fa-check"></i></span>
      <% end %>
    </div>
    <div class="list-group-item list-group-item-action">
      <%= link_to '上传图片', photo_upload_room_path %>
      <% if !@room.roomphotos.blank? %>
        <span id="roomphoto_check" class="pull-right color-info"><i class="fa fa-check"></i></span>
      <% end %>
    </div>
    <div class="list-group-item list-group-item-action">
      <%= link_to '周边设施', amenities_room_path %>
      <span class="pull-right color-info"><i class="fa fa-check"></i></span>
    </div>
    <div class="list-group-item list-group-item-action">
      <%= link_to '位置', location_room_path %>
      <% if !@room.address.blank? %>
        <span class="pull-right color-info"><i class="fa fa-check"></i></span>
      <% end %>
    </div>    
  </ul>
  <hr>
  <% is_ready = !@room.active && !@room.price.blank? && !@room.listing_name.blank? && !@room.roomphotos.blank? && !@room.address.blank? %>
  <%= form_for @room do |f| %>
    <%= f.hidden_field :active, value: true %>
    <%= f.submit "发布", id: "publish_button", class: "btn btn-primary btn-block", disabled: !is_ready %>
  <% end %>
  <br>
  <%= if @room.active
    form_for @room do |f| %>
    <%= f.hidden_field :active, value: false %>
    <%= f.submit "撤销该房源", id: "no_publish_button", class: "btn btn-scendary btn-block" %>
  <% end 
  end %>
</div>