<%= render 'room_header' %>
  <div class="card-header">
    周边设施
  </div>
  <div class="card-body">
    <div class="container">
      <%= form_for @room do |f|%>
        
        <div class="row form-group">
          <div class="col-md-4">
            <%= f.check_box :is_tv %> 电视
          </div>
          <div class="col-md-4">
            <%= f.check_box :is_kitchen %> 厨房
          </div>
          <div class="col-md-4">
            <%= f.check_box :is_internet %> Wi-Fi
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-4">
            <%= f.check_box :is_heating %> 热水器
          </div>
          <div class="col-md-4">
            <%= f.check_box :is_air %> 空调
          </div>
        </div>

        <div class="text-center">
          <%= f.submit "保存", class: "btn btn-info w-50" %>
        </div>

      <% end %>
    </div>
  </div>
<%= render 'room_footer' %>